@model UpFit__main.Models.User
@{
    ViewBag.Title = "LoggedIn";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_NavBarBasic")
    <div class="d-flex justify-content-center align-items-center flex-column" style="background-color: rgba(255,255,255,0.3); ">
        <h4>Hello!</h4>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
